@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
$font-standard: 'Helvetica';
$font-standard-backup:'Open Sans';

h1,h2,h3,h4,h5,h6,p,a,form{
    font-family: 'Open Sans',sans-serif;
}
h1{
    font-weight: 300;
    font-size: 45px;
    color: #545353;
}

.faq-questions{
    .faq-question{
        a{
            display:block;
        }
    }
}

.text-center {
    text-align: center;
}