form{
    margin-left: 0;
    padding-left: 0;
    select{
        width: 100%;
        height: 50px;
        -moz-appearance: none;
        appearance: none;
        -webkit-appearance: none;
        border: 1px solid #e5e5e5;
        background: #f5f5f5; 
        padding-left: 20px;
    }
    input{
        width: 100%;
        height: 50px;
        background: #f5f5f5;
        border: 1px solid #e5e5e5;
        margin-left: 0;
        padding-left: 20px;
    }
    textarea{
        width: 100%;
        height: 125px;
        background: #f5f5f5;
    }
}

  ::-webkit-input-placeholder {
    opacity: 1;
    color: #545454;
  }
  ::-moz-placeholder {
    opacity: 1;
    color: #545454;
  }
  :-ms-input-placeholder {
    opacity: 1;
    color: #545454;
  }
  :-moz-placeholder {
    opacity: 1;
    color: #545454;
  }

  .button {
    padding: .5rem;
    line-height: 2rem;
  }